<div class="col-md-4 movie">
  <button type="button" class="btn btn-danger removeButton">Remove</button>
  <div class="clearFix"></div>

  <img src="{{Poster}}" alt="{{Title}}"/>
  <marquee class="movieTitle">{{Title}}</marquee>

  <div id="scroller">
    <div id="section1{{imdbID}}" class="section1">
      <p>Starring:</p>
      <p>{{Actors}}</p>
    </div>

    <div id="section2{{imdbID}}" class="section2">
      <p>Released:</p>
      <p>{{Released}}</p>
    </div>
  </div>
  <button type="button" class="btn btn-success saveButton" data-imdbid="{{imdbID}}">Add to Watchlist</button>
</div>
