<div class="col-md-4 movie">
  <button type="button" class="btn btn-success saveButton" data-imdbid="{{imdbID}}">Save</button>
  <button type="button" class="btn btn-danger removeButton">Delete</button>
  <img src="{{Poster}}" alt="{{Title}}"/>
  <h3>{{Title}}</h3>
  <div>
    <div>Year: {{Year}}</div>
    <div>Starring: {{Actors}}</div>
    <div>Summary: {{Plot}}</div>
  </div>
  <label for="{{imdbID}}-watched">Watched:</label>
  <input type="checkbox" name="{{imdbID}}-watched" id="{{imdbID}}-watched"/>
  <label for="{{imdbID}}-rating">Rating:</label>
  <select id="{{imdbID}}-rating" value={{userRating}}>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
</div>
