<div class="col-sm-4 movie">
  <button type="button" class="btn btn-success editButton" data-editKey="{{fbId}}">Edit</button>
  <button type="button" class="btn btn-danger deleteButton" data-deleteKey="{{fbId}}">Delete</button>
  <img src="{{Poster}}" alt="{{Title}}"/>
  <h3>{{Title}}</h3>
  <ul>
    <li>{{Year}}</li>
    <li>{{Actors}}</li>
  </ul>
  <label for="{{imdbID}}-watched">Watched:</label>
  <div name="{{imdbID}}-watched" style="display: inline-block">{{watched}}</div>
  <label for="{{imdbID}}-rating">Rating:</label>
  <div name="{{imdbID}}-rating" style="display: inline-block">{{rating}}</div>
</div>
